table {
    padding: 0.2rem;
    & tr {
        border: 1px solid rgb(219, 219, 219);

        & td {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            padding: 0.5rem 1.5rem;
        }
    }

}

.prev-results{
    width: 60%;
    & div {
        margin: 3rem 0;
        font-size: 24px;
        & a{
            color:black;
        }
    }
}

.even-table{
    background-color: rgb(183, 203, 213);
}
.odd-table{
    background-color: rgb(188, 214, 192);
}
.table-container2{
    border-radius: 0.5rem;
    & h4 {
        padding: 0.5rem 0.5rem;
    }
}