.home{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1rem;
    & button {
        background-color:rgb(0, 133, 81);
        width: 50%;
        padding: 0.5rem;
        font-size: 24px;
        font-weight: bold;
        border-radius: 1rem;
        color:White;
        cursor: pointer;
    }
    & img{
        width: 200px;
        aspect-ratio: 16/9;
    }
    & p{
        font-size: 24px;
    }
}

.temp{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50vh;
}


button {
    
    background-color:rgb(0, 133, 81);
    width: 50%;
    padding: 0.5rem;
    font-size: 24px;
    font-weight: bold;
    border-radius: 1rem;
    color:White;
    cursor: pointer;

}
.emoji{
    margin-top: 5rem;
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & {
        font-size: 36px;
        font-weight: bold;
        color:rgb(0, 0, 0)
    }
}
.temp button:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.temp span{
    font-size: 200px;
}
.countDown{
    font-size: 20px;
    color:black;
    margin-top: 2rem;
}




.test-buttons-container{
    width: 80;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10rem;
    justify-content: center;
}
.test-buttons-container li{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    & button {
        width: 80%;
        background-color: red;
    }
    & img{
        width: 350px;
        height: 180px;
        padding: 1rem;
    }

}

.link-title{
    width: 80%;
    margin-top: 3rem;
    margin-left: 5rem;
    & a{
        font-size: 24px;
        color:black;
    }
}