.result{
    font-size: 24px;
    padding-top: 3rem;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.result-inner{
    width: 70%;

}
.feed-us{
    width: 85%;
    margin-top: 5rem;
    & button {
        background-color: rgb(0, 128, 255);
        margin-top: 3rem;
        text-decoration: none;
        color:white
    }
}

.ai-result{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;

    & table{
        padding: 0.3rem;
        margin-top: 1rem;
        background-color:rgba(37, 129, 159, 0.393);
    & tr{
        border: 1px solid rgb(174, 111, 111);
        & td:nth-child(2n-1) {
            
        }
        & td {
            color:rgb(0, 0, 0);
            padding: 0.3rem 1rem;
        }
    }
    }

}

.prevresults{
    margin-top: 3rem;
    & a {
        color:black
    }
}